{
    "swagger": "2.0",
    "info": {
        "title": "Speech Services API v3.1",
        "version": "v3.1",
        "description": "Speech Services API v3.1.",
        "contact": {
            "name": "Cognitive Services - Speech Services",
            "url": "https://learn.microsoft.com/en-us/azure/cognitive-services/cognitive-services-support-options"
        }
    },
    "host": "cognitiveuseprod.cognitiveservices.azure.com",
    "basePath": "/speechtotext/v3.1",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "apiKeyHeader": {
            "type": "apiKey",
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header"
        },
        "apiKeyQuery": {
            "type": "apiKey",
            "name": "subscription-key",
            "in": "query"
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ],
    "x-servers": [
        {
            "url": "https://cognitiveuseprod.cognitiveservices.azure.com"
        },
        {
            "url": "https://cognitiveuseprod.openai.azure.com"
        },
        {
            "url": "https://eastus.api.cognitive.microsoft.com"
        }
    ],
    "paths": {
        "/datasets/{id}/blocks:commit": {
            "post": {
                "description": "Commit block list to complete the upload of the dataset.",
                "operationId": "Datasets_CommitBlocks",
                "summary": "Commit Block List",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. The identifier of the dataset.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "commitBlocksEntryArray",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/CommitBlocksEntryArray"
                        },
                        "description": "The list of blocks that compile the dataset."
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The block list is accepted and the data import process can continue."
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/models/{id}:copyto": {
            "post": {
                "description": "This method can be used to copy a model from one location to another. If the target subscription\nkey belongs to a subscription created for another location, the model will be copied to that location.\nOnly adapted models are allowed to copy to another subscription.",
                "operationId": "Models_CopyTo",
                "summary": "Copy Model",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. The identifier of the model that will be copied.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "modelCopy",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/ModelCopy"
                        },
                        "description": "The body contains the subscription key of the target subscription."
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "201": {
                        "description": "The response contains information about the entity as payload and its location as header.",
                        "headers": {
                            "Location": {
                                "type": "string",
                                "description": "The location of the created resource.",
                                "format": "uri"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/CustomModel"
                        },
                        "examples": {
                            "application/json": "{\n  \"project\": {\n    \"self\": \"string\"\n  },\n  \"links\": {\n    \"copyTo\": \"string\",\n    \"files\": \"string\",\n    \"manifest\": \"string\"\n  },\n  \"properties\": {\n    \"customModelWeightPercent\": 0,\n    \"deprecationDates\": {\n      \"transcriptionDateTime\": \"string\"\n    },\n    \"features\": {\n      \"supportsTranscriptions\": true,\n      \"supportsEndpoints\": true,\n      \"supportsTranscriptionsOnSpeechContainers\": true\n    },\n    \"email\": \"string\",\n    \"error\": {\n      \"code\": \"string\",\n      \"message\": \"string\"\n    }\n  },\n  \"text\": \"string\",\n  \"baseModel\": {\n    \"self\": \"string\"\n  },\n  \"datasets\": [\n    {\n      \"self\": \"string\"\n    }\n  ],\n  \"customProperties\": {},\n  \"self\": \"string\",\n  \"locale\": \"string\",\n  \"displayName\": \"string\",\n  \"description\": \"string\",\n  \"lastActionDateTime\": \"string\",\n  \"status\": \"NotStarted\",\n  \"createdDateTime\": \"string\"\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/endpoints": {
            "post": {
                "description": "Creates a new endpoint.",
                "operationId": "Endpoints_Create",
                "summary": "Create Endpoint",
                "parameters": [
                    {
                        "name": "endpoint",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Endpoint"
                        },
                        "description": "The details of the endpoint."
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "201": {
                        "description": "The response contains information about the entity as payload and its location as header.",
                        "headers": {
                            "Location": {
                                "type": "string",
                                "description": "The location of the created resource.",
                                "format": "uri"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/Endpoint"
                        },
                        "examples": {
                            "application/json": "{\n  \"project\": {\n    \"self\": \"string\"\n  },\n  \"links\": {\n    \"restInteractive\": \"string\",\n    \"restConversation\": \"string\",\n    \"restDictation\": \"string\",\n    \"webSocketInteractive\": \"string\",\n    \"webSocketConversation\": \"string\",\n    \"webSocketDictation\": \"string\",\n    \"logs\": \"string\"\n  },\n  \"properties\": {\n    \"loggingEnabled\": true,\n    \"timeToLive\": \"string\",\n    \"email\": \"string\",\n    \"error\": {\n      \"code\": \"string\",\n      \"message\": \"string\"\n    }\n  },\n  \"self\": \"string\",\n  \"displayName\": \"string\",\n  \"description\": \"string\",\n  \"text\": \"string\",\n  \"model\": {\n    \"self\": \"string\"\n  },\n  \"locale\": \"string\",\n  \"customProperties\": {},\n  \"lastActionDateTime\": \"string\",\n  \"status\": \"NotStarted\",\n  \"createdDateTime\": \"string\"\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "description": "Gets the list of endpoints for the authenticated subscription.",
                "operationId": "Endpoints_List",
                "summary": "Get Endpoints",
                "parameters": [
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Format - int32. Number of datasets that will be skipped.",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "top",
                        "in": "query",
                        "description": "Format - int32. Number of datasets that will be included after skipping.",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "A filtering expression for selecting a subset of the available endpoints.\r\n            <ul><li><b>Supported properties:</b> displayName, description, createdDateTime, lastActionDateTime, status, locale.\r\n              </li><li><b>Operators:</b><ul><li>eq, ne are supported for all properties.</li><li>gt, ge, lt, le are supported for createdDateTime and lastActionDateTime.</li><li>and, or, not are supported.</li></ul></li><li><b>Example:</b>```filter=locale eq 'en-US'```</li></ul>",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Retry-After": {
                                "type": "integer",
                                "description": "The minimum number of seconds to wait for a non terminal operation to complete."
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/PaginatedEndpoints"
                        },
                        "examples": {
                            "application/json": "{\n  \"values\": [\n    {\n      \"project\": {\n        \"self\": \"string\"\n      },\n      \"links\": {\n        \"restInteractive\": \"string\",\n        \"restConversation\": \"string\",\n        \"restDictation\": \"string\",\n        \"webSocketInteractive\": \"string\",\n        \"webSocketConversation\": \"string\",\n        \"webSocketDictation\": \"string\",\n        \"logs\": \"string\"\n      },\n      \"properties\": {\n        \"loggingEnabled\": true,\n        \"timeToLive\": \"string\",\n        \"email\": \"string\",\n        \"error\": {\n          \"code\": \"string\",\n          \"message\": \"string\"\n        }\n      },\n      \"self\": \"string\",\n      \"displayName\": \"string\",\n      \"description\": \"string\",\n      \"text\": \"string\",\n      \"model\": {\n        \"self\": \"string\"\n      },\n      \"locale\": \"string\",\n      \"customProperties\": {},\n      \"lastActionDateTime\": \"string\",\n      \"status\": \"NotStarted\",\n      \"createdDateTime\": \"string\"\n    }\n  ],\n  \"@nextLink\": \"string\"\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/evaluations": {
            "post": {
                "description": "Creates a new evaluation.",
                "operationId": "Evaluations_Create",
                "summary": "Create Evaluation",
                "parameters": [
                    {
                        "name": "evaluation",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Evaluation"
                        },
                        "description": "The details of the new evaluation."
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "201": {
                        "description": "The response contains information about the entity as payload and its location as header.",
                        "headers": {
                            "Location": {
                                "type": "string",
                                "description": "The location of the created resource.",
                                "format": "uri"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/Evaluation"
                        },
                        "examples": {
                            "application/json": "{\n  \"model1\": {\n    \"self\": \"string\"\n  },\n  \"model2\": {\n    \"self\": \"string\"\n  },\n  \"transcription1\": {\n    \"self\": \"string\"\n  },\n  \"transcription2\": {\n    \"self\": \"string\"\n  },\n  \"dataset\": {\n    \"self\": \"string\"\n  },\n  \"links\": {\n    \"files\": \"string\"\n  },\n  \"properties\": {\n    \"wordErrorRate2\": 0.0,\n    \"wordErrorRate1\": 0.0,\n    \"sentenceErrorRate2\": 0.0,\n    \"sentenceCount2\": 0,\n    \"wordCount2\": 0,\n    \"correctWordCount2\": 0,\n    \"wordSubstitutionCount2\": 0,\n    \"wordDeletionCount2\": 0,\n    \"wordInsertionCount2\": 0,\n    \"sentenceErrorRate1\": 0.0,\n    \"sentenceCount1\": 0,\n    \"wordCount1\": 0,\n    \"correctWordCount1\": 0,\n    \"wordSubstitutionCount1\": 0,\n    \"wordDeletionCount1\": 0,\n    \"wordInsertionCount1\": 0,\n    \"email\": \"string\",\n    \"error\": {\n      \"code\": \"string\",\n      \"message\": \"string\"\n    }\n  },\n  \"project\": {\n    \"self\": \"string\"\n  },\n  \"self\": \"string\",\n  \"lastActionDateTime\": \"string\",\n  \"status\": \"NotStarted\",\n  \"createdDateTime\": \"string\",\n  \"displayName\": \"string\",\n  \"description\": \"string\",\n  \"customProperties\": {},\n  \"locale\": \"string\"\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "description": "Gets the list of evaluations for the authenticated subscription.",
                "operationId": "Evaluations_List",
                "summary": "Get Evaluations",
                "parameters": [
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Format - int32. Number of datasets that will be skipped.",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "top",
                        "in": "query",
                        "description": "Format - int32. Number of datasets that will be included after skipping.",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "A filtering expression for selecting a subset of the available evaluations.\r\n            <ul><li><b>Supported properties:</b> displayName, description, createdDateTime, lastActionDateTime, status and locale.\r\n              </li><li><b>Operators:</b><ul><li>eq, ne are supported for all properties.</li><li>gt, ge, lt, le are supported for createdDateTime and lastActionDateTime.</li><li>and, or, not are supported.</li></ul></li><li><b>Example:</b>```filter=displayName eq 'My evaluation'```</li></ul>",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Retry-After": {
                                "type": "integer",
                                "description": "The minimum number of seconds to wait for a non terminal operation to complete."
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/PaginatedEvaluations"
                        },
                        "examples": {
                            "application/json": "{\n  \"values\": [\n    {\n      \"model1\": {\n        \"self\": \"string\"\n      },\n      \"model2\": {\n        \"self\": \"string\"\n      },\n      \"transcription1\": {\n        \"self\": \"string\"\n      },\n      \"transcription2\": {\n        \"self\": \"string\"\n      },\n      \"dataset\": {\n        \"self\": \"string\"\n      },\n      \"links\": {\n        \"files\": \"string\"\n      },\n      \"properties\": {\n        \"wordErrorRate2\": 0.0,\n        \"wordErrorRate1\": 0.0,\n        \"sentenceErrorRate2\": 0.0,\n        \"sentenceCount2\": 0,\n        \"wordCount2\": 0,\n        \"correctWordCount2\": 0,\n        \"wordSubstitutionCount2\": 0,\n        \"wordDeletionCount2\": 0,\n        \"wordInsertionCount2\": 0,\n        \"sentenceErrorRate1\": 0.0,\n        \"sentenceCount1\": 0,\n        \"wordCount1\": 0,\n        \"correctWordCount1\": 0,\n        \"wordSubstitutionCount1\": 0,\n        \"wordDeletionCount1\": 0,\n        \"wordInsertionCount1\": 0,\n        \"email\": \"string\",\n        \"error\": {\n          \"code\": \"string\",\n          \"message\": \"string\"\n        }\n      },\n      \"project\": {\n        \"self\": \"string\"\n      },\n      \"self\": \"string\",\n      \"lastActionDateTime\": \"string\",\n      \"status\": \"NotStarted\",\n      \"createdDateTime\": \"string\",\n      \"displayName\": \"string\",\n      \"description\": \"string\",\n      \"customProperties\": {},\n      \"locale\": \"string\"\n    }\n  ],\n  \"@nextLink\": \"string\"\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/models": {
            "post": {
                "description": "Creates a new model.",
                "operationId": "Models_Create",
                "summary": "Create Model",
                "parameters": [
                    {
                        "name": "customModel",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/CustomModel"
                        },
                        "description": "The details of the new model."
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "201": {
                        "description": "The response contains information about the entity as payload and its location as header.",
                        "headers": {
                            "Location": {
                                "type": "string",
                                "description": "The location of the created resource.",
                                "format": "uri"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/CustomModel"
                        },
                        "examples": {
                            "application/json": "{\n  \"project\": {\n    \"self\": \"string\"\n  },\n  \"links\": {\n    \"copyTo\": \"string\",\n    \"files\": \"string\",\n    \"manifest\": \"string\"\n  },\n  \"properties\": {\n    \"customModelWeightPercent\": 0,\n    \"deprecationDates\": {\n      \"transcriptionDateTime\": \"string\"\n    },\n    \"features\": {\n      \"supportsTranscriptions\": true,\n      \"supportsEndpoints\": true,\n      \"supportsTranscriptionsOnSpeechContainers\": true\n    },\n    \"email\": \"string\",\n    \"error\": {\n      \"code\": \"string\",\n      \"message\": \"string\"\n    }\n  },\n  \"text\": \"string\",\n  \"baseModel\": {\n    \"self\": \"string\"\n  },\n  \"datasets\": [\n    {\n      \"self\": \"string\"\n    }\n  ],\n  \"customProperties\": {},\n  \"self\": \"string\",\n  \"locale\": \"string\",\n  \"displayName\": \"string\",\n  \"description\": \"string\",\n  \"lastActionDateTime\": \"string\",\n  \"status\": \"NotStarted\",\n  \"createdDateTime\": \"string\"\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "description": "Gets the list of custom models for the authenticated subscription.",
                "operationId": "Models_ListCustomModels",
                "summary": "Get Models",
                "parameters": [
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Format - int32. Number of datasets that will be skipped.",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "top",
                        "in": "query",
                        "description": "Format - int32. Number of datasets that will be included after skipping.",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "A filtering expression for selecting a subset of the available models.\r\n            <ul><li><b>Supported properties: </b> displayName, description, createdDateTime, lastActionDateTime, status, locale.\r\n              </li><li><b>Operators:</b><ul><li>eq, ne are supported for all properties.</li><li>gt, ge, lt, le are supported for createdDateTime and lastActionDateTime.</li><li>and, or, not are supported.</li></ul></li><li><b>Example:</b>```filter=status eq 'NotStarted' or status eq 'Running'```</li></ul>",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Retry-After": {
                                "type": "integer",
                                "description": "The minimum number of seconds to wait for a non terminal operation to complete."
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/PaginatedCustomModels"
                        },
                        "examples": {
                            "application/json": "{\n  \"values\": [\n    {\n      \"project\": {\n        \"self\": \"string\"\n      },\n      \"links\": {\n        \"copyTo\": \"string\",\n        \"files\": \"string\",\n        \"manifest\": \"string\"\n      },\n      \"properties\": {\n        \"customModelWeightPercent\": 0,\n        \"deprecationDates\": {\n          \"transcriptionDateTime\": \"string\"\n        },\n        \"features\": {\n          \"supportsTranscriptions\": true,\n          \"supportsEndpoints\": true,\n          \"supportsTranscriptionsOnSpeechContainers\": true\n        },\n        \"email\": \"string\",\n        \"error\": {\n          \"code\": \"string\",\n          \"message\": \"string\"\n        }\n      },\n      \"text\": \"string\",\n      \"baseModel\": {\n        \"self\": \"string\"\n      },\n      \"datasets\": [\n        {\n          \"self\": \"string\"\n        }\n      ],\n      \"customProperties\": {},\n      \"self\": \"string\",\n      \"locale\": \"string\",\n      \"displayName\": \"string\",\n      \"description\": \"string\",\n      \"lastActionDateTime\": \"string\",\n      \"status\": \"NotStarted\",\n      \"createdDateTime\": \"string\"\n    }\n  ],\n  \"@nextLink\": \"string\"\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/projects": {
            "post": {
                "description": "Creates a new project.",
                "operationId": "Projects_Create",
                "summary": "Create Project",
                "parameters": [
                    {
                        "name": "project",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Project"
                        },
                        "description": "The details of the project."
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "201": {
                        "description": "The response contains information about the entity as payload and its location as header.",
                        "headers": {
                            "Location": {
                                "type": "string",
                                "description": "The location of the created resource.",
                                "format": "uri"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/Project"
                        },
                        "examples": {
                            "application/json": "{\n  \"links\": {\n    \"evaluations\": \"string\",\n    \"datasets\": \"string\",\n    \"models\": \"string\",\n    \"endpoints\": \"string\",\n    \"transcriptions\": \"string\"\n  },\n  \"properties\": {\n    \"datasetCount\": 0,\n    \"evaluationCount\": 0,\n    \"modelCount\": 0,\n    \"transcriptionCount\": 0,\n    \"endpointCount\": 0\n  },\n  \"self\": \"string\",\n  \"displayName\": \"string\",\n  \"description\": \"string\",\n  \"locale\": \"string\",\n  \"customProperties\": {},\n  \"createdDateTime\": \"string\"\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "description": "Gets the list of projects for the authenticated subscription.",
                "operationId": "Projects_List",
                "summary": "Get Projects",
                "parameters": [
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Format - int32. Number of datasets that will be skipped.",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "top",
                        "in": "query",
                        "description": "Format - int32. Number of datasets that will be included after skipping.",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "A filtering expression for selecting a subset of the available projects.\r\n            <ul><li><b>Supported properties:</b> displayName, description, createdDateTime, locale.</li><li><b>Operators:</b><ul><li>eq, ne are supported for all properties.</li><li>gt, ge, lt, le are supported for createdDateTime.</li><li>and, or, not are supported.</li></ul></li><li><b>Example:</b>```filter=displayName eq 'My test'```</li></ul>",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PaginatedProjects"
                        },
                        "examples": {
                            "application/json": "{\n  \"values\": [\n    {\n      \"links\": {\n        \"evaluations\": \"string\",\n        \"datasets\": \"string\",\n        \"models\": \"string\",\n        \"endpoints\": \"string\",\n        \"transcriptions\": \"string\"\n      },\n      \"properties\": {\n        \"datasetCount\": 0,\n        \"evaluationCount\": 0,\n        \"modelCount\": 0,\n        \"transcriptionCount\": 0,\n        \"endpointCount\": 0\n      },\n      \"self\": \"string\",\n      \"displayName\": \"string\",\n      \"description\": \"string\",\n      \"locale\": \"string\",\n      \"customProperties\": {},\n      \"createdDateTime\": \"string\"\n    }\n  ],\n  \"@nextLink\": \"string\"\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/transcriptions": {
            "post": {
                "description": "Creates a new transcription.",
                "operationId": "Transcriptions_Create",
                "summary": "Create Transcription",
                "parameters": [
                    {
                        "name": "transcription",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Transcription"
                        },
                        "description": "The details of the new transcription."
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "201": {
                        "description": "The response contains information about the entity as payload and its location as header.",
                        "headers": {
                            "Location": {
                                "type": "string",
                                "description": "The location of the created resource.",
                                "format": "uri"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/Transcription"
                        },
                        "examples": {
                            "application/json": "{\n  \"links\": {\n    \"files\": \"string\"\n  },\n  \"properties\": {\n    \"diarizationEnabled\": true,\n    \"wordLevelTimestampsEnabled\": true,\n    \"displayFormWordLevelTimestampsEnabled\": true,\n    \"duration\": \"string\",\n    \"channels\": [\n      0\n    ],\n    \"destinationContainerUrl\": \"string\",\n    \"punctuationMode\": \"None\",\n    \"profanityFilterMode\": \"None\",\n    \"timeToLive\": \"string\",\n    \"diarization\": {\n      \"speakers\": {\n        \"minCount\": 0,\n        \"maxCount\": 0\n      }\n    },\n    \"languageIdentification\": {\n      \"candidateLocales\": [\n        \"string\"\n      ],\n      \"speechModelMapping\": {}\n    },\n    \"email\": \"string\",\n    \"error\": {\n      \"code\": \"string\",\n      \"message\": \"string\"\n    }\n  },\n  \"self\": \"string\",\n  \"model\": {\n    \"self\": \"string\"\n  },\n  \"project\": {\n    \"self\": \"string\"\n  },\n  \"dataset\": {\n    \"self\": \"string\"\n  },\n  \"contentUrls\": [\n    \"string\"\n  ],\n  \"contentContainerUrl\": \"string\",\n  \"locale\": \"string\",\n  \"displayName\": \"string\",\n  \"description\": \"string\",\n  \"customProperties\": {},\n  \"lastActionDateTime\": \"string\",\n  \"status\": \"NotStarted\",\n  \"createdDateTime\": \"string\"\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "description": "Gets a list of transcriptions for the authenticated subscription.",
                "operationId": "Transcriptions_List",
                "summary": "Get Transcriptions",
                "parameters": [
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Format - int32. Number of datasets that will be skipped.",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "top",
                        "in": "query",
                        "description": "Format - int32. Number of datasets that will be included after skipping.",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "A filtering expression for selecting a subset of the available transcriptions.\r\n            <ul><li><b>Supported properties:</b> displayName, description, createdDateTime, lastActionDateTime, status, locale.\r\n              </li><li><b>Operators:</b><ul><li>eq, ne are supported for all properties.</li><li>gt, ge, lt, le are supported for createdDateTime and lastActionDateTime.</li><li>and, or, not are supported.</li></ul></li><li><b>Example:</b>```filter=createdDateTime gt 2022-02-01T11:00:00Z```</li></ul>",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Retry-After": {
                                "type": "integer",
                                "description": "The minimum number of seconds to wait for a non terminal operation to complete."
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/PaginatedTranscriptions"
                        },
                        "examples": {
                            "application/json": "{\n  \"values\": [\n    {\n      \"links\": {\n        \"files\": \"string\"\n      },\n      \"properties\": {\n        \"diarizationEnabled\": true,\n        \"wordLevelTimestampsEnabled\": true,\n        \"displayFormWordLevelTimestampsEnabled\": true,\n        \"duration\": \"string\",\n        \"channels\": [\n          0\n        ],\n        \"destinationContainerUrl\": \"string\",\n        \"punctuationMode\": \"None\",\n        \"profanityFilterMode\": \"None\",\n        \"timeToLive\": \"string\",\n        \"diarization\": {\n          \"speakers\": {\n            \"minCount\": 0,\n            \"maxCount\": 0\n          }\n        },\n        \"languageIdentification\": {\n          \"candidateLocales\": [\n            \"string\"\n          ],\n          \"speechModelMapping\": {}\n        },\n        \"email\": \"string\",\n        \"error\": {\n          \"code\": \"string\",\n          \"message\": \"string\"\n        }\n      },\n      \"self\": \"string\",\n      \"model\": {\n        \"self\": \"string\"\n      },\n      \"project\": {\n        \"self\": \"string\"\n      },\n      \"dataset\": {\n        \"self\": \"string\"\n      },\n      \"contentUrls\": [\n        \"string\"\n      ],\n      \"contentContainerUrl\": \"string\",\n      \"locale\": \"string\",\n      \"displayName\": \"string\",\n      \"description\": \"string\",\n      \"customProperties\": {},\n      \"lastActionDateTime\": \"string\",\n      \"status\": \"NotStarted\",\n      \"createdDateTime\": \"string\"\n    }\n  ],\n  \"@nextLink\": \"string\"\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/webhooks": {
            "post": {
                "description": "If the property secret in the configuration is present and contains a non-empty string, it will be used to create a SHA256 hash of the payload with\nthe secret as HMAC key. This hash will be set as X-MicrosoftSpeechServices-Signature header when calling back into the registered URL.\n            \nWhen calling back into the registered URL, the request will contain a X-MicrosoftSpeechServices-Event header containing one of the registered event\ntypes. There will be one request per registered event type.\n            \nAfter successfully registering the web hook, it will not be usable until a challenge/response is completed. To do this, a request with the event type\nchallenge will be made with a query parameter called validationToken. Respond to the challenge with a 200 OK containing the value of the validationToken\nquery parameter as the response body. When the challenge/response is successfully completed, the web hook will begin receiving events.",
                "operationId": "WebHooks_Create",
                "summary": "Create Web Hook",
                "parameters": [
                    {
                        "name": "webHook",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/WebHook"
                        },
                        "description": "The details of the new web hook."
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "201": {
                        "description": "The response contains information about the entity as payload and its location as header.",
                        "headers": {
                            "Location": {
                                "type": "string",
                                "description": "The location of the created resource.",
                                "format": "uri"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/WebHook"
                        },
                        "examples": {
                            "application/json": "{\n  \"webUrl\": \"string\",\n  \"links\": {\n    \"ping\": \"string\",\n    \"test\": \"string\"\n  },\n  \"properties\": {\n    \"error\": {\n      \"code\": \"string\",\n      \"message\": \"string\"\n    },\n    \"apiVersion\": \"string\",\n    \"secret\": \"string\"\n  },\n  \"self\": \"string\",\n  \"displayName\": \"string\",\n  \"description\": \"string\",\n  \"events\": {\n    \"datasetCreation\": true,\n    \"datasetProcessing\": true,\n    \"datasetCompletion\": true,\n    \"datasetDeletion\": true,\n    \"modelCreation\": true,\n    \"modelProcessing\": true,\n    \"modelCompletion\": true,\n    \"modelDeletion\": true,\n    \"evaluationCreation\": true,\n    \"evaluationProcessing\": true,\n    \"evaluationCompletion\": true,\n    \"evaluationDeletion\": true,\n    \"transcriptionCreation\": true,\n    \"transcriptionProcessing\": true,\n    \"transcriptionCompletion\": true,\n    \"transcriptionDeletion\": true,\n    \"endpointCreation\": true,\n    \"endpointProcessing\": true,\n    \"endpointCompletion\": true,\n    \"endpointDeletion\": true,\n    \"ping\": true,\n    \"challenge\": true\n  },\n  \"createdDateTime\": \"string\",\n  \"lastActionDateTime\": \"string\",\n  \"status\": \"NotStarted\",\n  \"customProperties\": {}\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "description": "Gets the list of web hooks for the authenticated subscription.",
                "operationId": "WebHooks_List",
                "summary": "Get Web Hooks",
                "parameters": [
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Format - int32. Number of datasets that will be skipped.",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "top",
                        "in": "query",
                        "description": "Format - int32. Number of datasets that will be included after skipping.",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "A filtering expression for selecting a subset of the available hooks.\r\n            <ul><li><b>Supported properties:</b> displayName, description, createdDateTime, lastActionDateTime, status and webUrl.</li><li><b>Operators:</b><ul><li>eq, ne are supported for all properties.</li><li>gt, ge, lt, le are supported for createdDateTime and lastActionDateTime.</li><li>and, or, not are supported.</li></ul></li><li><b>Example:</b>```filter=displayName eq 'test'```</li></ul>",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Retry-After": {
                                "type": "integer",
                                "description": "The minimum number of seconds to wait for a non terminal operation to complete."
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/PaginatedWebHooks"
                        },
                        "examples": {
                            "application/json": "{\n  \"values\": [\n    {\n      \"webUrl\": \"string\",\n      \"links\": {\n        \"ping\": \"string\",\n        \"test\": \"string\"\n      },\n      \"properties\": {\n        \"error\": {\n          \"code\": \"string\",\n          \"message\": \"string\"\n        },\n        \"apiVersion\": \"string\",\n        \"secret\": \"string\"\n      },\n      \"self\": \"string\",\n      \"displayName\": \"string\",\n      \"description\": \"string\",\n      \"events\": {\n        \"datasetCreation\": true,\n        \"datasetProcessing\": true,\n        \"datasetCompletion\": true,\n        \"datasetDeletion\": true,\n        \"modelCreation\": true,\n        \"modelProcessing\": true,\n        \"modelCompletion\": true,\n        \"modelDeletion\": true,\n        \"evaluationCreation\": true,\n        \"evaluationProcessing\": true,\n        \"evaluationCompletion\": true,\n        \"evaluationDeletion\": true,\n        \"transcriptionCreation\": true,\n        \"transcriptionProcessing\": true,\n        \"transcriptionCompletion\": true,\n        \"transcriptionDeletion\": true,\n        \"endpointCreation\": true,\n        \"endpointProcessing\": true,\n        \"endpointCompletion\": true,\n        \"endpointDeletion\": true,\n        \"ping\": true,\n        \"challenge\": true\n      },\n      \"createdDateTime\": \"string\",\n      \"lastActionDateTime\": \"string\",\n      \"status\": \"NotStarted\",\n      \"customProperties\": {}\n    }\n  ],\n  \"@nextLink\": \"string\"\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/endpoints/{id}/files/logs/{logId}": {
            "delete": {
                "description": "Deletes one audio or transcription log that have been stored for a given endpoint.",
                "operationId": "Endpoints_DeleteLog",
                "summary": "Delete Custom Model Endpoint Log",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. The identifier of the endpoint.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "logId",
                        "in": "path",
                        "description": "The identifier of the log.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "204": {
                        "description": "The log was successfully deleted."
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "description": "Gets a specific audio or transcription log for a given endpoint.",
                "operationId": "Endpoints_GetLog",
                "summary": "Get Custom Model Endpoint Log",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. The identifier of the endpoint.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "logId",
                        "in": "path",
                        "description": "The identifier of the log.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "sasValidityInSeconds",
                        "in": "query",
                        "description": "Format - int32. The duration in seconds that an SAS url should be valid. The default duration is 12 hours.\r\n            When using BYOS (https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-encryption-of-data-at-rest#bring-your-own-storage-byos-for-customization-and-logging): A value of 0 means that a plain blob URI without SAS token will be generated.",
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/File"
                        },
                        "examples": {
                            "application/json": "{\n  \"kind\": \"DatasetReport\",\n  \"links\": {\n    \"contentUrl\": \"string\"\n  },\n  \"createdDateTime\": \"string\",\n  \"properties\": {\n    \"size\": 0,\n    \"duration\": \"string\"\n  },\n  \"name\": \"string\",\n  \"self\": \"string\"\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/endpoints/base/{locale}/files/logs/{logId}": {
            "delete": {
                "description": "Deletes one audio or transcription log that have been stored when using the default base model of a given language.",
                "operationId": "Endpoints_DeleteBaseModelLog",
                "summary": "Delete Base Model Endpoint Log",
                "parameters": [
                    {
                        "name": "locale",
                        "in": "path",
                        "description": "The language used to select the default base model.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "logId",
                        "in": "path",
                        "description": "The identifier of the log.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "204": {
                        "description": "The log was successfully deleted."
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "description": "Gets a specific audio or transcription log for the default base model in a given language.",
                "operationId": "Endpoints_GetBaseModelLog",
                "summary": "Get Base Model Endpoint Log",
                "parameters": [
                    {
                        "name": "locale",
                        "in": "path",
                        "description": "The language used to select the default base model.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "logId",
                        "in": "path",
                        "description": "The identifier of the log.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "sasValidityInSeconds",
                        "in": "query",
                        "description": "Format - int32. The duration in seconds that an SAS url should be valid. The default duration is 12 hours.\r\n            When using BYOS (https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-encryption-of-data-at-rest#bring-your-own-storage-byos-for-customization-and-logging): A value of 0 means that a plain blob URI without SAS token will be generated.",
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/File"
                        },
                        "examples": {
                            "application/json": "{\n  \"kind\": \"DatasetReport\",\n  \"links\": {\n    \"contentUrl\": \"string\"\n  },\n  \"createdDateTime\": \"string\",\n  \"properties\": {\n    \"size\": 0,\n    \"duration\": \"string\"\n  },\n  \"name\": \"string\",\n  \"self\": \"string\"\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/endpoints/{id}": {
            "delete": {
                "description": "Deletes the endpoint identified by the given ID.",
                "operationId": "Endpoints_Delete",
                "summary": "Delete Endpoint",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. The identifier of the endpoint.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "204": {
                        "description": "The model endpoint was successfully deleted."
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "description": "Gets the endpoint identified by the given ID.",
                "operationId": "Endpoints_Get",
                "summary": "Get Endpoint",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. The identifier of the endpoint.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Retry-After": {
                                "type": "integer",
                                "description": "The minimum number of seconds to wait for a non terminal operation to complete."
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/Endpoint"
                        },
                        "examples": {
                            "application/json": "{\n  \"project\": {\n    \"self\": \"string\"\n  },\n  \"links\": {\n    \"restInteractive\": \"string\",\n    \"restConversation\": \"string\",\n    \"restDictation\": \"string\",\n    \"webSocketInteractive\": \"string\",\n    \"webSocketConversation\": \"string\",\n    \"webSocketDictation\": \"string\",\n    \"logs\": \"string\"\n  },\n  \"properties\": {\n    \"loggingEnabled\": true,\n    \"timeToLive\": \"string\",\n    \"email\": \"string\",\n    \"error\": {\n      \"code\": \"string\",\n      \"message\": \"string\"\n    }\n  },\n  \"self\": \"string\",\n  \"displayName\": \"string\",\n  \"description\": \"string\",\n  \"text\": \"string\",\n  \"model\": {\n    \"self\": \"string\"\n  },\n  \"locale\": \"string\",\n  \"customProperties\": {},\n  \"lastActionDateTime\": \"string\",\n  \"status\": \"NotStarted\",\n  \"createdDateTime\": \"string\"\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "patch": {
                "description": "Updates the metadata of the endpoint identified by the given ID.",
                "operationId": "Endpoints_Update",
                "summary": "Update Endpoint",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. The identifier of the endpoint.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "endpointUpdate",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/EndpointUpdate"
                        },
                        "description": "The updated values for the endpoint."
                    }
                ],
                "consumes": [
                    "application/json",
                    "application/merge-patch+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Retry-After": {
                                "type": "integer",
                                "description": "The minimum number of seconds to wait for a non terminal operation to complete."
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/Endpoint"
                        },
                        "examples": {
                            "application/json": "{\n  \"project\": {\n    \"self\": \"string\"\n  },\n  \"links\": {\n    \"restInteractive\": \"string\",\n    \"restConversation\": \"string\",\n    \"restDictation\": \"string\",\n    \"webSocketInteractive\": \"string\",\n    \"webSocketConversation\": \"string\",\n    \"webSocketDictation\": \"string\",\n    \"logs\": \"string\"\n  },\n  \"properties\": {\n    \"loggingEnabled\": true,\n    \"timeToLive\": \"string\",\n    \"email\": \"string\",\n    \"error\": {\n      \"code\": \"string\",\n      \"message\": \"string\"\n    }\n  },\n  \"self\": \"string\",\n  \"displayName\": \"string\",\n  \"description\": \"string\",\n  \"text\": \"string\",\n  \"model\": {\n    \"self\": \"string\"\n  },\n  \"locale\": \"string\",\n  \"customProperties\": {},\n  \"lastActionDateTime\": \"string\",\n  \"status\": \"NotStarted\",\n  \"createdDateTime\": \"string\"\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/evaluations/{id}": {
            "delete": {
                "description": "Deletes the evaluation identified by the given ID.",
                "operationId": "Evaluations_Delete",
                "summary": "Delete Evaluation",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. The identifier of the evaluation.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "204": {
                        "description": "The evaluation was successfully deleted or did not exist."
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "description": "Gets the evaluation identified by the given ID.",
                "operationId": "Evaluations_Get",
                "summary": "Get Evaluation",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. The identifier of the evaluation.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Retry-After": {
                                "type": "integer",
                                "description": "The minimum number of seconds to wait for a non terminal operation to complete."
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/Evaluation"
                        },
                        "examples": {
                            "application/json": "{\n  \"model1\": {\n    \"self\": \"string\"\n  },\n  \"model2\": {\n    \"self\": \"string\"\n  },\n  \"transcription1\": {\n    \"self\": \"string\"\n  },\n  \"transcription2\": {\n    \"self\": \"string\"\n  },\n  \"dataset\": {\n    \"self\": \"string\"\n  },\n  \"links\": {\n    \"files\": \"string\"\n  },\n  \"properties\": {\n    \"wordErrorRate2\": 0.0,\n    \"wordErrorRate1\": 0.0,\n    \"sentenceErrorRate2\": 0.0,\n    \"sentenceCount2\": 0,\n    \"wordCount2\": 0,\n    \"correctWordCount2\": 0,\n    \"wordSubstitutionCount2\": 0,\n    \"wordDeletionCount2\": 0,\n    \"wordInsertionCount2\": 0,\n    \"sentenceErrorRate1\": 0.0,\n    \"sentenceCount1\": 0,\n    \"wordCount1\": 0,\n    \"correctWordCount1\": 0,\n    \"wordSubstitutionCount1\": 0,\n    \"wordDeletionCount1\": 0,\n    \"wordInsertionCount1\": 0,\n    \"email\": \"string\",\n    \"error\": {\n      \"code\": \"string\",\n      \"message\": \"string\"\n    }\n  },\n  \"project\": {\n    \"self\": \"string\"\n  },\n  \"self\": \"string\",\n  \"lastActionDateTime\": \"string\",\n  \"status\": \"NotStarted\",\n  \"createdDateTime\": \"string\",\n  \"displayName\": \"string\",\n  \"description\": \"string\",\n  \"customProperties\": {},\n  \"locale\": \"string\"\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "patch": {
                "description": "Updates the mutable details of the evaluation identified by its id.",
                "operationId": "Evaluations_Update",
                "summary": "Update Evaluation",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. The identifier of the evaluation.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "evaluationUpdate",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/EvaluationUpdate"
                        },
                        "description": "The object containing the updated fields of the evaluation."
                    }
                ],
                "consumes": [
                    "application/json",
                    "application/merge-patch+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Retry-After": {
                                "type": "integer",
                                "description": "The minimum number of seconds to wait for a non terminal operation to complete."
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/Evaluation"
                        },
                        "examples": {
                            "application/json": "{\n  \"model1\": {\n    \"self\": \"string\"\n  },\n  \"model2\": {\n    \"self\": \"string\"\n  },\n  \"transcription1\": {\n    \"self\": \"string\"\n  },\n  \"transcription2\": {\n    \"self\": \"string\"\n  },\n  \"dataset\": {\n    \"self\": \"string\"\n  },\n  \"links\": {\n    \"files\": \"string\"\n  },\n  \"properties\": {\n    \"wordErrorRate2\": 0.0,\n    \"wordErrorRate1\": 0.0,\n    \"sentenceErrorRate2\": 0.0,\n    \"sentenceCount2\": 0,\n    \"wordCount2\": 0,\n    \"correctWordCount2\": 0,\n    \"wordSubstitutionCount2\": 0,\n    \"wordDeletionCount2\": 0,\n    \"wordInsertionCount2\": 0,\n    \"sentenceErrorRate1\": 0.0,\n    \"sentenceCount1\": 0,\n    \"wordCount1\": 0,\n    \"correctWordCount1\": 0,\n    \"wordSubstitutionCount1\": 0,\n    \"wordDeletionCount1\": 0,\n    \"wordInsertionCount1\": 0,\n    \"email\": \"string\",\n    \"error\": {\n      \"code\": \"string\",\n      \"message\": \"string\"\n    }\n  },\n  \"project\": {\n    \"self\": \"string\"\n  },\n  \"self\": \"string\",\n  \"lastActionDateTime\": \"string\",\n  \"status\": \"NotStarted\",\n  \"createdDateTime\": \"string\",\n  \"displayName\": \"string\",\n  \"description\": \"string\",\n  \"customProperties\": {},\n  \"locale\": \"string\"\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/models/{id}": {
            "delete": {
                "description": "Deletes the model identified by the given ID.",
                "operationId": "Models_Delete",
                "summary": "Delete Model",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. The identifier of the model.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "204": {
                        "description": "The model was successfully deleted or did not exist."
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "description": "Gets the model identified by the given ID.",
                "operationId": "Models_GetCustomModel",
                "summary": "Get Model",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. The identifier of the model.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Retry-After": {
                                "type": "integer",
                                "description": "The minimum number of seconds to wait for a non terminal operation to complete."
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/CustomModel"
                        },
                        "examples": {
                            "application/json": "{\n  \"project\": {\n    \"self\": \"string\"\n  },\n  \"links\": {\n    \"copyTo\": \"string\",\n    \"files\": \"string\",\n    \"manifest\": \"string\"\n  },\n  \"properties\": {\n    \"customModelWeightPercent\": 0,\n    \"deprecationDates\": {\n      \"transcriptionDateTime\": \"string\"\n    },\n    \"features\": {\n      \"supportsTranscriptions\": true,\n      \"supportsEndpoints\": true,\n      \"supportsTranscriptionsOnSpeechContainers\": true\n    },\n    \"email\": \"string\",\n    \"error\": {\n      \"code\": \"string\",\n      \"message\": \"string\"\n    }\n  },\n  \"text\": \"string\",\n  \"baseModel\": {\n    \"self\": \"string\"\n  },\n  \"datasets\": [\n    {\n      \"self\": \"string\"\n    }\n  ],\n  \"customProperties\": {},\n  \"self\": \"string\",\n  \"locale\": \"string\",\n  \"displayName\": \"string\",\n  \"description\": \"string\",\n  \"lastActionDateTime\": \"string\",\n  \"status\": \"NotStarted\",\n  \"createdDateTime\": \"string\"\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "patch": {
                "description": "Updates the metadata of the model identified by the given ID.",
                "operationId": "Models_Update",
                "summary": "Update Model",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. The identifier of the model.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "modelUpdate",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/ModelUpdate"
                        },
                        "description": "The updated values for the model."
                    }
                ],
                "consumes": [
                    "application/json",
                    "application/merge-patch+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Retry-After": {
                                "type": "integer",
                                "description": "The minimum number of seconds to wait for a non terminal operation to complete."
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/CustomModel"
                        },
                        "examples": {
                            "application/json": "{\n  \"project\": {\n    \"self\": \"string\"\n  },\n  \"links\": {\n    \"copyTo\": \"string\",\n    \"files\": \"string\",\n    \"manifest\": \"string\"\n  },\n  \"properties\": {\n    \"customModelWeightPercent\": 0,\n    \"deprecationDates\": {\n      \"transcriptionDateTime\": \"string\"\n    },\n    \"features\": {\n      \"supportsTranscriptions\": true,\n      \"supportsEndpoints\": true,\n      \"supportsTranscriptionsOnSpeechContainers\": true\n    },\n    \"email\": \"string\",\n    \"error\": {\n      \"code\": \"string\",\n      \"message\": \"string\"\n    }\n  },\n  \"text\": \"string\",\n  \"baseModel\": {\n    \"self\": \"string\"\n  },\n  \"datasets\": [\n    {\n      \"self\": \"string\"\n    }\n  ],\n  \"customProperties\": {},\n  \"self\": \"string\",\n  \"locale\": \"string\",\n  \"displayName\": \"string\",\n  \"description\": \"string\",\n  \"lastActionDateTime\": \"string\",\n  \"status\": \"NotStarted\",\n  \"createdDateTime\": \"string\"\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/projects/{id}": {
            "delete": {
                "description": "Deletes the project identified by the given ID.",
                "operationId": "Projects_Delete",
                "summary": "Delete Project",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. The identifier of the project.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "204": {
                        "description": "The project was successfully deleted or did not exist."
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "description": "Gets the project identified by the given ID.",
                "operationId": "Projects_Get",
                "summary": "Get Project",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. The identifier of the project.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Project"
                        },
                        "examples": {
                            "application/json": "{\n  \"links\": {\n    \"evaluations\": \"string\",\n    \"datasets\": \"string\",\n    \"models\": \"string\",\n    \"endpoints\": \"string\",\n    \"transcriptions\": \"string\"\n  },\n  \"properties\": {\n    \"datasetCount\": 0,\n    \"evaluationCount\": 0,\n    \"modelCount\": 0,\n    \"transcriptionCount\": 0,\n    \"endpointCount\": 0\n  },\n  \"self\": \"string\",\n  \"displayName\": \"string\",\n  \"description\": \"string\",\n  \"locale\": \"string\",\n  \"customProperties\": {},\n  \"createdDateTime\": \"string\"\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "patch": {
                "description": "Updates the project identified by the given ID.",
                "operationId": "Projects_Update",
                "summary": "Update Project",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. The identifier of the project.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "projectUpdate",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/ProjectUpdate"
                        },
                        "description": "The updated values for the project."
                    }
                ],
                "consumes": [
                    "application/json",
                    "application/merge-patch+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Project"
                        },
                        "examples": {
                            "application/json": "{\n  \"links\": {\n    \"evaluations\": \"string\",\n    \"datasets\": \"string\",\n    \"models\": \"string\",\n    \"endpoints\": \"string\",\n    \"transcriptions\": \"string\"\n  },\n  \"properties\": {\n    \"datasetCount\": 0,\n    \"evaluationCount\": 0,\n    \"modelCount\": 0,\n    \"transcriptionCount\": 0,\n    \"endpointCount\": 0\n  },\n  \"self\": \"string\",\n  \"displayName\": \"string\",\n  \"description\": \"string\",\n  \"locale\": \"string\",\n  \"customProperties\": {},\n  \"createdDateTime\": \"string\"\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/endpoints/{id}/files/logs": {
            "delete": {
                "description": "The deletion process is done asynchronously and can take up to one day depending on the amount of log files.",
                "operationId": "Endpoints_DeleteLogs",
                "summary": "Delete All Custom Model Endpoint Logs",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. The identifier of the endpoint.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "description": "The end date of the audio logs deletion (specific day, UTC).\r\n            Expected format: \"yyyy-mm-dd\". For instance, \"2023-03-15\" results in deleting all logs on March 15th, 2023 and before.\r\n            Deletes all existing logs when date is not specified.",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "202": {
                        "description": "The logs will be deleted."
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "description": "Gets the list of audio and transcription logs that have been stored for a given endpoint.",
                "operationId": "Endpoints_ListLogs",
                "summary": "Get Endpoint Logs",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. The identifier of the endpoint.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "sasValidityInSeconds",
                        "in": "query",
                        "description": "Format - int32. The duration in seconds that an SAS url should be valid. The default duration is 12 hours.\r\n            When using BYOS (https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-encryption-of-data-at-rest#bring-your-own-storage-byos-for-customization-and-logging): A value of 0 means that a plain blob URI without SAS token will be generated.",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "skipToken",
                        "in": "query",
                        "description": "Token to skip logs that were already retrieved in previous requests. Pagination starts from beginning when not defined.",
                        "type": "string"
                    },
                    {
                        "name": "top",
                        "in": "query",
                        "description": "Format - int32. Number of datasets that will be included after skipping.",
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Retry-After": {
                                "type": "integer",
                                "description": "The minimum number of seconds to wait for a non terminal operation to complete."
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/PaginatedFiles"
                        },
                        "examples": {
                            "application/json": "{\n  \"values\": [\n    {\n      \"kind\": \"DatasetReport\",\n      \"links\": {\n        \"contentUrl\": \"string\"\n      },\n      \"createdDateTime\": \"string\",\n      \"properties\": {\n        \"size\": 0,\n        \"duration\": \"string\"\n      },\n      \"name\": \"string\",\n      \"self\": \"string\"\n    }\n  ],\n  \"@nextLink\": \"string\"\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/endpoints/base/{locale}/files/logs": {
            "delete": {
                "description": "Deletion process is done asynchronously and can take up to one day depending on the amount of log files.",
                "operationId": "Endpoints_DeleteBaseModelLogs",
                "summary": "Delete All Base Model Endpoint Logs",
                "parameters": [
                    {
                        "name": "locale",
                        "in": "path",
                        "description": "The language used to select the default base model.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "description": "The end date of the audio logs deletion (specific day, UTC).\r\n            Expected format: \"yyyy-mm-dd\". For instance, \"2023-03-15\" results in deleting all logs on March 15th, 2023 and before.\r\n            Deletes all existing logs when date is not specified.",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "202": {
                        "description": "The logs will be deleted."
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "description": "Gets the list of audio and transcription logs that have been stored when using the default base model of a given language.",
                "operationId": "Endpoints_ListBaseModelLogs",
                "summary": "Get Base Model Logs",
                "parameters": [
                    {
                        "name": "locale",
                        "in": "path",
                        "description": "The language used to select the default base model.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "sasValidityInSeconds",
                        "in": "query",
                        "description": "Format - int32. The duration in seconds that an SAS url should be valid. The default duration is 12 hours.\r\n            When using BYOS (https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-encryption-of-data-at-rest#bring-your-own-storage-byos-for-customization-and-logging): A value of 0 means that a plain blob URI without SAS token will be generated.",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "skipToken",
                        "in": "query",
                        "description": "Token to skip logs that were already retrieved in previous requests. Pagination starts from beginning when not defined.",
                        "type": "string"
                    },
                    {
                        "name": "top",
                        "in": "query",
                        "description": "Format - int32. Number of datasets that will be included after skipping.",
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PaginatedFiles"
                        },
                        "examples": {
                            "application/json": "{\n  \"values\": [\n    {\n      \"kind\": \"DatasetReport\",\n      \"links\": {\n        \"contentUrl\": \"string\"\n      },\n      \"createdDateTime\": \"string\",\n      \"properties\": {\n        \"size\": 0,\n        \"duration\": \"string\"\n      },\n      \"name\": \"string\",\n      \"self\": \"string\"\n    }\n  ],\n  \"@nextLink\": \"string\"\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/datasets/{id}": {
            "delete": {
                "description": "Deletes the specified dataset.",
                "operationId": "Datasets_Delete",
                "summary": "Delete Dataset",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. The identifier of the dataset.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "204": {
                        "description": "The dataset was successfully deleted or did not exist."
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "description": "Gets the dataset identified by the given ID.",
                "operationId": "Datasets_Get",
                "summary": "Get Dataset",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. The identifier of the dataset.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Retry-After": {
                                "type": "integer",
                                "description": "The minimum number of seconds to wait for a non terminal operation to complete."
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/Dataset"
                        },
                        "examples": {
                            "application/json": "{\n  \"links\": {\n    \"files\": \"string\",\n    \"commitBlocks\": \"string\",\n    \"listBlocks\": \"string\",\n    \"uploadBlocks\": \"string\"\n  },\n  \"properties\": {\n    \"acceptedLineCount\": 0,\n    \"rejectedLineCount\": 0,\n    \"duration\": \"string\",\n    \"email\": \"string\",\n    \"error\": {\n      \"code\": \"string\",\n      \"message\": \"string\"\n    }\n  },\n  \"kind\": \"Language\",\n  \"self\": \"string\",\n  \"displayName\": \"string\",\n  \"description\": \"string\",\n  \"project\": {\n    \"self\": \"string\"\n  },\n  \"contentUrl\": \"string\",\n  \"customProperties\": {},\n  \"locale\": \"string\",\n  \"lastActionDateTime\": \"string\",\n  \"status\": \"NotStarted\",\n  \"createdDateTime\": \"string\"\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "patch": {
                "description": "Updates the mutable details of the dataset identified by its ID.",
                "operationId": "Datasets_Update",
                "summary": "Update Dataset",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. The identifier of the dataset.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "datasetUpdate",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/DatasetUpdate"
                        },
                        "description": "The updated values for the dataset."
                    }
                ],
                "consumes": [
                    "application/json",
                    "application/merge-patch+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Retry-After": {
                                "type": "integer",
                                "description": "The minimum number of seconds to wait for a non terminal operation to complete."
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/Dataset"
                        },
                        "examples": {
                            "application/json": "{\n  \"links\": {\n    \"files\": \"string\",\n    \"commitBlocks\": \"string\",\n    \"listBlocks\": \"string\",\n    \"uploadBlocks\": \"string\"\n  },\n  \"properties\": {\n    \"acceptedLineCount\": 0,\n    \"rejectedLineCount\": 0,\n    \"duration\": \"string\",\n    \"email\": \"string\",\n    \"error\": {\n      \"code\": \"string\",\n      \"message\": \"string\"\n    }\n  },\n  \"kind\": \"Language\",\n  \"self\": \"string\",\n  \"displayName\": \"string\",\n  \"description\": \"string\",\n  \"project\": {\n    \"self\": \"string\"\n  },\n  \"contentUrl\": \"string\",\n  \"customProperties\": {},\n  \"locale\": \"string\",\n  \"lastActionDateTime\": \"string\",\n  \"status\": \"NotStarted\",\n  \"createdDateTime\": \"string\"\n}"
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/transcriptions/{id}": {
            "delete": {
                "description": "Deletes the specified transcription task.",
                "operationId": "Transcriptions_Delete",
                "summary": "Delete Transcription",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. The identifier of the transcription.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "204": {
                        "description": "The transcription was successfully deleted or did not exist."
                    },
                    "500": {
                        "description": "An error occurred.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "description": "Gets the transcription identified by the given ID.",
                "operationId": "Transcriptions_Get",
                "summary": "Get Transcription",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. The identifier of the transcription.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Retry-After": {
                                "type": "integer",
                                "description": "The minimum number of seconds to wait for a non terminal operation to complete."
                            }
[...]
